$foreground-color: #fff;
$control-hover-shadow: 1px 1px 5px black;
$control-margin: 10px;
$control-opacity: 0.6;
$control-transition-duration: .125s;
$thumbnail-count: 5;
$thumbnail-margin: $control-margin;

.galleryDisplayNone {
    display: none !important;
}

.galleryOpaque {
    opacity: 1 !important;
}

.galleryTransparent, .galleryDisplayNone {
    opacity: 0 !important;
}

.gallery {
    .galleryStage {
        margin-top: $control-margin;
        height: auto;
        overflow: hidden;
        position: relative;
        transition: height $control-transition-duration;
        
        .galleryCloseButton, .galleryImageTitle, .galleryLeftButton, .galleryRightButton {
            color: $foreground-color;
            border: 0;
            background: none;
            opacity: $control-opacity;
            position: absolute;
            transition: opacity $control-transition-duration;
            
            &:hover {
                &:not(&:disabled) {
                    opacity: 1;
                    text-shadow: $control-hover-shadow;
                }
            }
        }

        .galleryCloseButton, .galleryLeftButton, .galleryRightButton {
            font-size: 35px;
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .galleryCloseButton, .galleryRightButton {
            right: $control-margin;
            float: right;
        }

        .galleryImageTitle, .galleryLeftButton {
            left: $control-margin;
            float: left;
        }

        .galleryLeftButton, .galleryRightButton {
            top: 50%;
        }

        .galleryPresenter, .galleryTransitionPresenter {
            width: 100%;
        }
        
        .galleryButtonOverlay {
            transition: opacity $control-transition-duration;
        }

        .galleryCloseButton {
            top: $control-margin;
        }
        
        .galleryImageTitle {
            bottom: $control-margin;
            font-size: 20px;
            padding-right: $control-margin;
            padding-top: $control-margin;
        }

        .galleryTransitionPresenter {
            position: absolute;
            transition: opacity $control-transition-duration;
            z-index: 1;
            // &.galleryTransitioning {
            // }
        }
    }

    .galleryThumbnailSelector {
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;

        &:after {
            clear: both;
            content: "";
            display: table;
        }

        img {
            cursor: pointer;
            opacity: $control-opacity;
            margin-right: $thumbnail-margin;
            transition: opacity $control-transition-duration linear;
            width: calc((100% / ($thumbnail-count - 1)) - $thumbnail-margin);
            min-width: 200px;
            
            &.galleryImageSelected {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}